@using Enigmatry.Entry.CodeGeneration.Templates.HtmlHelperExtensions.Template
@model Enigmatry.Entry.CodeGeneration.Configuration.Form.FormComponentModel;
<form [formGroup]="form" (ngSubmit)="onSubmit()" [class.entry-form-readonly]="isReadonly" @Html.FormCssClass(Model)>
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    @@if (formButtonsTemplate) {
        <ng-template [ngTemplateOutlet]="formButtonsTemplate"></ng-template>
    } @@else {
        <div class="action-buttons">
            @@if (!isReadonly) {
            <button mat-button entry-submit-button [disabled]="saveButtonDisabled" type="submit">
                {{saveButtonText}}
            </button>
            <button mat-button entry-cancel-button type="button" (click)="cancel.emit()">
                {{cancelButtonText}}
            </button>
            }
        </div>
    }
</form>