@using Enigmatry.Entry.CodeGeneration.Templates.HtmlHelperExtensions.Template
@model Enigmatry.Entry.CodeGeneration.Configuration.Form.FormComponentModel;
<form [formGroup]="form()" (submit)="submit()" [class.entry-form-readonly]="isReadonly()" @Html.FormCssClass(Model)>
    @@for(field of fields(); track field.id)
    {
    <entry-field [field]="field" [form]="form()"></entry-field>
    }

    <ng-template #defaultActionsTemplate>
    <div class="action-buttons">
        @@if (!isReadonly())
        {
        <button mat-button entry-submit-button [disabled]="saveButtonDisabled()" type="submit">
             {{saveButtonText}}
         </button>
         <button mat-button entry-cancel-button type="button" (click)="cancel.emit()">
             {{cancelButtonText}}
         </button>
        }
    </div>
    </ng-template>
</form>