@using Enigmatry.Entry.CodeGeneration.Templates.HtmlHelperExtensions.Angular
@using Enigmatry.Entry.CodeGeneration.Templates.HtmlHelperExtensions.Template
@model Enigmatry.Entry.CodeGeneration.Configuration.Form.FormComponentModel;

<form [formGroup]="form" (submit)="onSubmit($event)" [class.entry-form-readonly]="isReadonly()" @Html.FormCssClass(Model)>
@Html.RenderFormControls(Model.FormControls)
    <ng-container *ngTemplateOutlet="formButtonsTemplate() ?? defaultActionsTemplate"></ng-container>
    <ng-template #defaultActionsTemplate>
        <div class="action-buttons">
            @@if (!isReadonly()) {
            <button mat-button entry-submit-button [disabled]="saveButtonDisabled()" type="submit">{{saveButtonText()}}</button>
            <button mat-button entry-cancel-button type="button" (click)="cancel.emit()">{{cancelButtonText()}}</button>
            }
        </div>
    </ng-template>
</form>
